@page "/"

<PageTitle>Index</PageTitle>

<h3>Instruction for running the project</h3>
<br/>
<p>
    Before starting the project, modify the connecting string in appSetting.json file, or if you prefer to use backup 
    database, restore it and then run the project.
</p>


