@page "/orders"

@using Intus.Web.Framework.Contracts.V1.Order;

@inject NavigationManager NavigationManager;

<h3>Orders</h3>

@if (orders.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Order Name</th>
                <th>State</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in orders)
            {
                <tr>
                    <td>@order.Name</td>
                    <td>@order.State</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => EditOrder(order)">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<button class="btn btn-primary" @onclick="RedirectToComponentAddOrder">Add New Order</button>


@code {
    private List<OrderModel> orders = new List<OrderModel>();
    private OrderModel order = new OrderModel();

    protected override async Task OnInitializedAsync()
    {


        try
        {
            // var response = await Http.GetJsonAsync<List<Order>>("<API endpoint for getting orders>");
            //  _orders = response;
            orders.Add(GetOrder());
        }
        catch(Exception ex)
        {

        }
    }
    private void RedirectToComponentAddOrder()
    {
        NavigationManager.NavigateTo($"/order");
    }

    private void RedirectToComponentEditOrder()
    {
        NavigationManager.NavigateTo($"/order/{order.Id}");
    }

    private void EditOrder(OrderModel order)
    {
        this.order = order;

        RedirectToComponentEditOrder();
    }

    private OrderModel GetOrder()
    {
        return new OrderModel
        {
                Id = 1,
                Name = "New York Building 1",
                State = "NY",
                Windows = new List<WindowModel>
            {
                new WindowModel
                {
                    Name = "A51",
                    Quantity = 4,
                    SubElements = new List<SubElementModel>
                    {
                        new SubElementModel
                        {
                            ElementId = 1,
                            Type = "Doors",
                            Width = 1200,
                            Height = 1850
                        },
                        new SubElementModel
                        {
                            ElementId = 2,
                            Type = "Window",
                            Width = 800,
                            Height = 1850
                        },
                        new SubElementModel
                        {
                            ElementId = 2,
                            Type = "Window",
                            Width = 700,
                            Height = 1850
                        }
                    }
                },
                new WindowModel
                {
                    Name = "C Zone 5",
                    Quantity = 2,
                    SubElements = new List<SubElementModel>
                    {
                        new SubElementModel
                        {
                            ElementId = 2,
                            Type = "Window",
                            Width = 1500,
                            Height = 2000
                        }
                    }
                }
            }
        };
    }
}
